@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@100;300;500;700;900&display=swap");
@font-face {
  font-family: "shrikhandregular";
  src: url("shrikhand-regular-webfont.woff2") format("woff2"), url("shrikhand-regular-webfont.woff") format("woff"), url("shrikhand-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}

* {
  font-family: Roboto;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

#reservation__content, #fonctionnement, #restaurants__content, #footer__content {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  padding: 20px 0;
}

header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

#header__content {
  height: 75px;
  width: 90%;
  max-width: 1440px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.fa-arrow-left {
  position: absolute;
  left: 0;
}

#logo {
  height: 30px;
}

#logo--white {
  height: 20px;
}

#location {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
#location p {
  margin-left: 10px;
}

#reservation {
  background-color: #f2f2f2;
  text-align: center;
}
#reservation p {
  font-size: 18px;
  font-weight: 300;
}

button {
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  font-weight: 400;
  color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  width: fit-content;
  min-width: 175px;
  margin: auto;
}
button:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 80%;
}

.step {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-left: 12px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.step .fa-solid {
  font-size: 18px;
  color: #737373;
}
.step__label {
  font-weight: 700;
  margin-left: 20px;
}
.step__number {
  color: white;
  font-weight: 400;
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 22px;
}

.step:hover {
  background-color: #f2eafb;
}
.step:hover i {
  color: #9356DC;
}

#restaurants {
  background-color: #f2f2f2;
}

.restaurant {
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.restaurant__figure {
  height: 150px;
  position: relative;
}
.restaurant__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__new {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 10px;
  width: fit-content;
  background-color: #99E2D0;
  padding: 10px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  color: #1b6150;
}
.restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant__description h3, .restaurant__description p {
  margin: 5px 0;
}
.restaurant__description p {
  font-weight: 300;
}
.restaurant__description .fa-heart {
  font-size: 24px;
  margin: 10px;
}
.restaurant__description .fa-heart:hover {
  font-weight: 900;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: linear-gradient(#FF79DA, #9356DC);
}

footer {
  background-color: #333333;
  color: white;
}
footer a {
  color: white;
}
footer p, footer a {
  margin: 5px 0;
  font-weight: 400;
}

#footer__list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer__line {
  display: flex;
  align-items: center;
}
.footer__line .fa-utensils {
  margin-right: 15px;
}
.footer__line .fa-handshake-angle {
  margin-right: 10px;
}

#logo--white {
  filter: invert(100%);
}

.fa-arrow-left {
  font-size: 24px;
}

#menu__figure {
  height: 250px;
}

#menu__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu__body {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f2f2f2;
  position: relative;
  margin-top: -30px;
}
#menu__body h2 {
  margin: 10px 0;
}
#menu__body h1 {
  font-family: shrikhandregular;
}
#menu__body .fa-heart {
  font-size: 20px;
}

#menu__content {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0 60px;
}
#menu__content h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
}

#menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.underline {
  border-bottom: 3px solid #99E2D0;
  max-width: 40px;
  height: 0;
}

.menu__meals {
  margin-bottom: 20px;
}

.meal__checkbox {
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  color: white;
  height: 85px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.meal__checkbox .fa-circle-check {
  font-size: 24px;
  opacity: 0;
}

.meal {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 85px;
  margin: 10px 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  transform-origin: right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slidein;
  opacity: 0;
}
.meal h3, .meal p {
  margin: 5px 0;
}
.meal h3 {
  font-size: 18px;
}
.meal p {
  font-weight: 300;
}
.meal:hover .meal__description {
  transition: width 1s ease-in-out;
  width: 60%;
}
.meal:hover .meal__checkbox {
  transition: width 1s ease-in-out;
  width: 25%;
}
.meal:hover .fa-circle-check {
  transition: opacity 1s;
  transition-delay: 500ms;
  opacity: 1;
}

@keyframes slidein {
  0% {
    translate: 0 30px;
  }
  100% {
    translate: 0 0;
    opacity: 100%;
  }
}
.meal--delay1 {
  animation-delay: 1s;
}

.meal--delay2 {
  animation-delay: 2s;
}

.meal__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 55px;
  width: 15%;
}
.meal__price p {
  font-weight: 700;
  font-size: 18px;
}

.meal__description {
  padding-left: 15px;
  box-sizing: border-box;
  width: 85%;
}
.meal__description h3, .meal__description p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 992px) {
  #fonctionnement__list {
    display: flex;
    justify-content: space-between;
  }
  #fonctionnement__list .step {
    width: 28%;
  }
  #restaurants__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #restaurants__list a {
    width: 48%;
  }
  .menu__meals {
    display: flex;
    justify-content: space-between;
  }
  .menu__meals .meal {
    width: 32%;
  }
}

/*# sourceMappingURL=style.css.map */
